#biaoti {
    background-color: #696969;
    /*背景颜色*/
    height: 80px;
    color: white;
    font-family: biaoti;
}

#celan {
    line-height: 30px;
    /*字体中间间隔·*/
    background-color: #696969;
    /*背景颜色*/
    height: 570px;
    width: 170px;
    float: left;
    padding: 5px;
    font-family: celan;
}

@font-face {
    font-family: biaoti;
    src: url(BaoTuXiaoBaiTi-2.ttf);
}

@font-face {
    font-family: celan;
    src: url(MaoKenShiJinHei-2.ttf)
}

@font-face {
    font-family: zhuti;
    src: url(HongLeiXingShuJianTi-2.otf);
}

#a1 {
    text-align: center;
    line-height: 20px;
    /*边框距离(上下)*/
    padding: 10px;
    font-family: zhuti;
    font-size: 19px;
    height: 930px;
}

.a2 {
    text-align: center;
}
.img{
    height:200px;
    width:400px;