.grzy {
	z-index: 100;
}

.a {
	text-decoration: none;color: black;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.color-white {
	color: white;
}

.kp {
	padding: 100px 100px;
}

.fgx {
	border: 5px solid white;
}

