.xhx,h2 a {

	position: relative;

	text-decoration: none;

	font-weight: normal;

	transition: color .3s ease;

}

.xhx,h2 a::after {

	--scale: 0;

	content: '';

	position: absolute;

	left: 0;

	right: 0;

	top: 100%;

	height: 2px;

	background: rgb(231, 138, 235);

	-webkit-transform: scaleX(var(--scale));

	transform: scaleX(var(--scale));

	-webkit-transform-origin: var(--x) 50%;

	transform-origin: var(--x) 50%;

	transition: -webkit-transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1);

	transition: transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1);

	transition: transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1),

		-webkit-transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1);

}

.xhx,h2 a:hover::after {

	--scale: 1;

}